<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<title>书籍列表</title>
</head>
<style>
body{
	display:flex;
	flex-direction:column;
	padding:0px;
	margin:0px;
}
.book{
	display:flex;
	flex-direction:row;
	padding:5px;
}
.detail{
	padding-left: 10px;
	font-size: 13px;
	height: 100px;
}
.detail div{
	height:20px;
	line-height: 20px;
}
a{
	text-decoration: none;
}
</style>
<body>
	{%import file='common/header.html'%}
	{%section from=$book value=item%}
	<div class="book">
		<div class="image">
			<image width="80px" height="100px" src="{%$item.image%}">
		</div>
		<div class="detail">
			<div class="title">{%$item.name%}</div>
			<div class="author">{%$item.author%}</div>
			<div class="status">{%$item.completed==1?'完结':'连载'%}</div>
			<div class="last">上次阅读:<a href="{%\framework\core\http::url(index,content,[id=>$item.last.id])%}">{%$item.last.title%}</a></div>
			<div class="new">最新章节:<a href="{%\framework\core\http::url(index,content,[id=>$item.new.id])%}">{%$item.new.title%}</a></div>
		</div>
	</div>
	{%/section%}
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</body>
</html>