<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<title>书籍列表</title>
</head>
<style>
body{
	display:flex;
	flex-direction:column;
	padding:0px;
	margin:0px;
}
.book{
	display:flex;
	flex-direction:row;
	padding:5px;
}
.detail{
	padding-left: 10px;
	font-size: 13px;
	height: 100px;
}
.detail div{
	height:20px;
	line-height: 20px;
}
a{
	text-decoration: none;
}
</style>
<body>
	{%import file='common/header.html'%}
	
	{%section from=$book value=item%}
	<a href="{%\framework\core\http::url('index','article',[id=>$item.id])%}">
	<div class="book">
		<div class="image">
			<image width="80px" height="100px" src="{%$item.image%}">
		</div>
		<div class="detail">
			<div class="title">{%$item.name%}</div>
			<div class="author">{%$item.author%}</div>
			<div class="status">{%$item.completed==1?'完结':'连载'%}</div>
			<div class="last">上次阅读:{%$item.last%}</div>
			<div class="new">最新章节:<a href="">{%$item.new.title%}</a></div>
		</div>
	</div>
	</a>
	{%/section%}
	<script type="text/template">
	
	</script>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script type="text/javascript">
	var draw = 1,
	start = 10,
	length = 10,
	load_pos = 0.3,//从什么位置开始滚动载入
	isLoading = false;
	
	function loadSearchData(start_index,length,temp)
	{
		if (!isLoading) {
			isLoading = true;
			$.post('{%\framework\core\http::url('index','list')%}',{start:start_index,length:length,draw:temp},function(response){
				if(response.code==1 && response.result == draw)
				{
					if (parseInt(response.data.length) > 0) {
						for(var i=0;i<parseInt(response.data.length);i++)
						{
							var tpl = createTpl(response.data[i]);
							$('body').append(tpl);
						}
						start += parseInt(response.data.length);
						draw++;
						isLoading = false;
					}
				}
			});
		}
	}
	/*$(window).scroll( function() {
		var per = $(this).scrollTop() / $('body').height();
		if(per > load_pos)
		{
			loadSearchData(start,length,draw);
		}
	});*/

		
	</script>
</body>
</html>