<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<title>登录</title>
</head>
<style>
	.title{
	display:inline-block;
	}
	.input{
	display:inline-block;
	}
</style>
<body>
	<div class="row">
		<div class="title">
		账号:
		</div>
		<div class="input">
		<input type="text" name="name">
		</div>
	</div>
	<div class="row">
		<div class="title">
		密码:
		</div>
		<div class="input">
		<input type="password" name="password">
		</div>
	</div>
</body>
</html>